
<div class='container'>
  {{#if pairShow}}
  {{format-date ticket.timeAdded}}
  <h2>Have you gone through all the steps on the Learn How to Program debugging lesson?</h2>
  <button class='btn help' {{action "showAnotherPair" }}>Yes >></button>


  {{else if anotherPair}}
  <h2>Have you asked another pair for help?</h2>
  <button class='btn help' {{action "showFifteenMinutes"}}>Yes >></button>

  {{else if showFifteenMinutes}}
  <h2>Have you spent 15 minutes going through through the problem documenting every step</h2>
  <button class='btn help' {{action "showForm"}}>Yes >></button>

  {{else if showForm}}
  <form>
    <br>
    {{textarea value=name class='form-control' id="name" rows="1" cols="50" placeholder='Please enter your name'}}
    <div class="form-group">
      <br>
      {{textarea value=description class='form-control' id="description" rows="8" cols="40" placeholder='Give a brief description of the issue you are having.'}}
      <br>
      <button class='btn help'{{action "save"}}>Help!</button>
    </div>
  </form>

  {{else if submittedTicket}}
    <h2>Thanks, {{ticket.name}}. Help is on the way</h2>
    <h2>Leave this page open while you continue working on the problem.</h2>
    <button class='btn help' {{action 'closeTicket'}}>Nevermind, we got it.</button>
  {{else}}
  {{/if}}
</div>


{{yield}}
